*{
    margin: 0;
    padding: 0;
    box-sizing: 0;
}
header {
    display: flex;
    justify-content: space-around;
}
.logo {
    height: 4rem;
}
.imghome {
    background-image: url(../Assets/optional_banner_1.jpg);
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    color: rgb(255, 255, 255);
    width: 100%;
    height: 15rem;
}
.imgEvents {
    background-image: url(../Assets/optional_banner_2.jpg);
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    color: rgb(255, 255, 255);
    width: 100%;
    height: 15rem;
}
.imgPasteEvents {
    background-image: url(../Assets/optional_banner_3.jpg);
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    color: rgb(255, 255, 255);
    width: 100%;
    height: 15rem;
}
.imgcontact {
    background-image: url(../Assets/optional_banner_4.jpg);
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    color: rgb(255, 255, 255);
    width: 100%;
    height: 15rem;
}
.imgstats {
    background-image: url(../Assets/optional_banner_5.jpg);
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    color: rgb(255, 255, 255);
    width: 100%;
    height: 15rem;
}
.img {
    background-size: cover;  
    width: 100%;
    height: 20rem;
}
.containerhome {
    display: flex;
    justify-content: space-around;
    margin: 2rem;

}
.containerMain {
    display: flex;
    justify-content: space-around;
}
.card-img-top {
    height: 12rem;
}
.containerContact {
    width: 20rem;
}
.container-categories {
    border-color: brown;
}




@media only screen and  ( max-width: 520px) {
    .logo {
        width: 10rem;
    }    
    .imghome {
        margin-left: 3rem;
        width: 15rem;
    }
    .containerhome {
        display: flex;
        flex-direction: column-reverse;
    }
    .containerMain {
        display: flex;
        flex-direction: column;
    }
}

